<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShowOpenCVResult.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ShowOpenCVResult.Properties.Settings>
            <setting name="AX" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="AY" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="LT" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OW" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="OH" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="SvmOutputSize" serializeAs="String">
                <value>32, 32</value>
            </setting>
            <setting name="Epsilon" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MinLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxLength" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MinArea" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MaxArea" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MinRateToRect" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MaxAreaToLength" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="DetectArea" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="SvmPath" serializeAs="String">
                <value>"svm.data"</value>
            </setting>
            <setting name="LineRho" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineTheta" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="LineThreshold" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LineMinLength" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="LineMaxGrap" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="CannyThreshold" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="CannyLink" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="AdaptiveParam" serializeAs="String">
                <value>-30</value>
            </setting>
            <setting name="AdaptiveBlockSize" serializeAs="String">
                <value>60</value>
            </setting>
        </ShowOpenCVResult.Properties.Settings>
    </userSettings>
</configuration>
